* {
  box-sizing: border-box;
}

/* The grid container */
.gridContainer {
  display: grid;
  grid-template-areas: 
    'left left middle middle right right';
  grid-column-gap: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #45a29e;
}

/* Style the middle column */
.middle {
  grid-area: middle;
  background-color: #45a29e;
}

/* Style the right column */
.right {
  grid-area: right;
  background-color: #45a29e;
}

.left h1, 
.middle h1, 
.right h1{
  text-align: center;
  margin: 0 auto;
}