ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  background-color: #45a29e;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: #66fcf1;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #04AA6D;
  color: white;
}

li {
  text-align: center;
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #45a29e;
}