* {
  box-sizing: border-box;
}

/* The grid container */
.gridContainer {
  display: grid;
  grid-template-areas: 
    'left left middle middle right right';
  grid-column-gap: 10px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: rgba(69, 162, 158, 0.7);
}

/* Style the left column */
.left {
  grid-area: left; 
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .gridContainer  {
    grid-template-areas:
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right';
  }
}

.left h1, 
.middle h1, 
.right h1{
  text-align: center;
  margin: 0 auto;
  color: #66fcf1
}