.productImage {
    height: 250px;
    width: 300px;
}

.rComment [type=text] {
    padding: 12px 20px;
    width: 90%;
}

.rRating [type=text] {
    padding: 12px 20px;
    width: 30%;
}

h1, 
h2 {
    color: white;
}

p {
    color: white;
}

.send {
    grid-area: send;
}

.rRating {
    grid-area: rRating;
}

.rComment {
    grid-area: rComment; 
}

.reviews {
    grid-area: reviews; 
}

.image {
    grid-area: image; 
}

.info {
    grid-area: info;
}

.gridContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      'image image info info'
      'rComment rComment rRating send'
      'reviews reviews reviews reviews';
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
} 
  
.image,
.info,
.reviews {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .gridContainer  {
      grid-template-areas:
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right';
    }
}