p {
	color: white;
}

.items {
	grid-area: items;
	color: white;
}

.checkout {
	grid-area: checkout;
	color: white;
}

.items, .checkout {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.gridContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      'items checkout';
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
} 

